/vendor
/node_modules
/public/index.php
/Padmin/wp-admin
/Padmin/wp-includes
/Padmin/wp-activate.php
/Padmin/wp-blog-header.php
/Padmin/wp-comments-post.php
/Padmin/wp-config.php
/Padmin/wp-config-sample.php
/Padmin/wp-cron.php
/Padmin/wp-links-opml.php
/Padmin/wp-load.php
/Padmin/wp-login.php
/Padmin/wp-mail.php
/Padmin/wp-settings.php
/Padmin/wp-signup.php
/Padmin/wp-trackback.php
/Padmin/xmlrpc.php
/Padmin/.idea/

/Padmin/license.txt
/Padmin/readme.html
/Padmin/wp-content/languages
/Padmin/wp-content/upgrade
/Padmin/wp-content/uploads
/Padmin/wp-content/index.php
/Padmin/wp-content/themes/twentyfifteen
/Padmin/wp-content/themes/twentyfourteen
/Padmin/wp-content/themes/twentythirteen
/Padmin/wp-content/themes/LaravelTheme/.idea
/Padmin/wp-content/themes/index.php
/Padmin/wp-content/plugins/
/.idea
composer.lock
.env