/vendor
/node_modules
/public/index.php
/Padmin/wp-admin
/Padmin/wp-includes
/Padmin/*.php
/Padmin/license.txt
/Padmin/readme.html
/Padmin/wp-content/languages
/Padmin/wp-content/upgrade
/Padmin/wp-content/uploads
/Padmin/wp-content/index.php
/Padmin/wp-content/themes/twentyfifteen
/Padmin/wp-content/themes/twentyfourteen
/Padmin/wp-content/themes/twentythirteen
/Padmin/wp-content/themes/LaravelTheme/.idea
/Padmin/wp-content/themes/index.php
/.idea
composer.lock
.env