$color-nav-civscg:#1B1256;
$color-nav-civscg-hover:lighten($color-nav-civscg,30);
$nav-borde-civscg: darken($color-nav-civscg,10);
$nav-borde-civscg-light: lighten($color-nav-civscg,5);
$logonav-w:230px;
$color-de-fuente:#FFF;
$navm-h:120px;
$color-botones-inicio:rgba(22, 54, 66, 0.50);
$azul-claro:#7dc9ff;